<button mat-button [matMenuTriggerFor]="menu" class="menu-button" [hidden]="hideMenu()">{{name}}</button>
<mat-menu #menu="matMenu" overlapTrigger="false" [hidden]="hideMenu()">
  <div (mouseleave)="closeMyMenu()">
      <div *ngFor="let item of items">
           <button mat-menu-item (click)="goToLocation(item)">{{item.name}}</button>
      </div>
  </div>
</mat-menu>
