<div class="container custom-form">

  <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">
    <h2 class="form-signin-heading login-header">Ingrese su usuario y contraseña:</h2>
    <div>
        <mat-form-field class="input_text_large"> 
            <input matInput placeholder="Usuario" formControlName="username"> 
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="input_text_large"> 
            <input matInput placeholder="Password" formControlName="password" type="password"> 
        </mat-form-field>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Recuérdame
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" (click)="login()" [disabled]="!loginForm.valid">Iniciar Sesión</button>
    
  </form>

</div>