<h1 mat-dialog-title>Eliminar Datos extras del producto</h1>
<div mat-dialog-content>
  <p>Si elimina todos los datos extras del producto perderá todos los datos ingresados en los productos.</p>
  <p>¿Está seguro que quiere eliminar estos datos extras?</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onYesClick()">Sí</button>
  <button mat-button (click)="onNoClick()" cdkFocusInitial>No</button>
</div>