<mat-toolbar color="secondary">
  <strong class="page-title">Configuración de los datos extras</strong>
</mat-toolbar>
<h3>
	<strong>Campos extra por Tipo de Producto:</strong>
</h3>

<form [formGroup]="productExtraDataForm" (ngSubmit)="onSubmitProductExtraData()" autocomplete="off">

    <div class="add-container">
        <button class="submit-btn" color="primary" mat-raised-button type="submit" [disabled]="validateSaveButtonVisibility()">Guardar</button>
        <input type="button" class="btn" (click)="clearProductExtraData()" value="Limpiar" [disabled]="templates.length === 0">
    </div>
    <mat-accordion>
        <mat-expansion-panel formArrayName="productTypes" *ngFor="let productType of getFormProductTypes().controls; let i = index;">
          <!-- HEADER -->
          <mat-expansion-panel-header>
            <mat-panel-title>Tipo de Producto</mat-panel-title>
            <mat-panel-description>
              {{productType.get('productTypeName').value }}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <!-- BODY -->
          <div [formGroupName]="i">
            <div formArrayName="productTypeFields" *ngFor="let productTypeField of getProductTypeFields(productType).controls; let j = index;">
              <div [formGroupName]="j">
                   <span class="btn" (click)="deleteTemplateElement(productType, j)">
                   <i class="fas fa-trash-alt"></i>
                 </span>
                   <mat-form-field class="input_text_small"> 
                   <input matInput placeholder="Nombre" formControlName="name"> 
                   <mat-error>{{errorMessagesUtil.getErrorMessage(productTypeField.get('name'), 'Nombre')}} </mat-error>
                 </mat-form-field>
                   
                 <mat-form-field class="input_text_small">
                     <mat-select placeholder="Tipo de Valor" formControlName="templateValueTypeId">
                     <mat-option *ngFor="let templateValueType of templateValueTypes" [value]="templateValueType.id">{{templateValueType.name}}</mat-option>
                     </mat-select>
                 </mat-form-field>
              </div>
            </div>
          </div>
		<input type="button" class="btn" (click)="addTemplateElement(getProductTypeFields(productType))" value="Agregar Campo">

        </mat-expansion-panel>
    </mat-accordion>

</form>