<div class="container">
    <mat-toolbar color="secondary">
      <strong class="page-title">Sucursal</strong>
    </mat-toolbar>
    <form [formGroup]="branchCommerceForm" (ngSubmit)="onSubmitBranchCommerce()" autocomplete="off">

        <div>
            <mat-form-field class="input_text_medium"> 
            	<input matInput placeholder="Nombre" formControlName="name"> 
            	<mat-error>{{errorMessagesUtil.getErrorMessage(branchCommerceForm.get('name'), 'Nombre')}} </mat-error> 
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="input_text_medium"> 
            	<input matInput placeholder="Dirección" formControlName="address">
            	<mat-error>{{errorMessagesUtil.getErrorMessage(branchCommerceForm.get('address'), 'Dirección')}} </mat-error> 
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="input_text_medium"> 
            	<input matInput placeholder="País" formControlName="country"> 
            	<mat-error>{{errorMessagesUtil.getErrorMessage(branchCommerceForm.get('country'), 'País')}} </mat-error> 
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="input_text_medium"> 
            	<input matInput placeholder="Provincia" formControlName="province">
            	<mat-error>{{errorMessagesUtil.getErrorMessage(branchCommerceForm.get('province'), 'Provincia')}} </mat-error> 
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="input_text_medium"> 
            	<input matInput placeholder="Ciudad" formControlName="city"> 
            	<mat-error>{{errorMessagesUtil.getErrorMessage(branchCommerceForm.get('city'), 'Ciudad')}} </mat-error> 
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="input_text_medium"> 
            	<input matInput placeholder="Código Postal" formControlName="cityCode">
            	<mat-error>{{errorMessagesUtil.getErrorMessage(branchCommerceForm.get('cityCode'), 'Código Postal')}} </mat-error> 
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="input_text_medium"> 
            	<input matInput placeholder="Teléfono" formControlName="phone"> 
            	<mat-error>{{errorMessagesUtil.getErrorMessage(branchCommerceForm.get('phone'), 'Teléfono')}} </mat-error> 
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="input_text_medium"> 
            	<input matInput placeholder="Celular" formControlName="cellphone">
            	<mat-error>{{errorMessagesUtil.getErrorMessage(branchCommerceForm.get('cellphone'), 'Celular')}} </mat-error> 
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="input_text_medium"> 
            	<input matInput placeholder="Email" formControlName="email"> 
            	<mat-error>{{errorMessagesUtil.getErrorMessage(branchCommerceForm.get('email'), 'Email')}} </mat-error> 
            </mat-form-field>
        </div>

        <button class="submit-btn" color="primary" mat-raised-button
            type="submit" [disabled]="!branchCommerceForm.valid">Guardar</button>
        <button class="btn" (click)="cancelProduct()">Cancelar</button>

    </form>
</div>
