<mat-toolbar color="secondary">
  <strong class="page-title">Productos</strong>
</mat-toolbar>

<div class="add-container">
	<button (click)="goToProduct()" class="btn btn-info new-button">
		<i class="fas fa-plus"></i>
		<span>Nuevo Producto</span>
	</button>
</div>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort (matSortChange)="tableUtil.sortData($event)">
  
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-column"> Nombre </mat-header-cell>
    <mat-cell *matCellDef="let element" class="table-cell-column"> {{element.name}} </mat-cell>
  </ng-container>

  <!-- Product Type Column -->
  <ng-container matColumnDef="productType">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-column"> Tipo de Producto </mat-header-cell>
    <mat-cell *matCellDef="let element" class="table-cell-column"> {{element.productType.name}} </mat-cell>
  </ng-container>

    <!-- Unit Amount Column -->
  <ng-container matColumnDef="unit">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-column"> Tamaño </mat-header-cell>
    <mat-cell *matCellDef="let element" class="table-cell-column"> {{element.unitAmount}} {{element.unitType.name}} </mat-cell>
  </ng-container>

  <!-- Company Product Name Column -->
  <ng-container matColumnDef="companyProductName">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-column"> Companía </mat-header-cell>
    <mat-cell *matCellDef="let element" class="table-cell-column"> {{element.companyProduct.name}} </mat-cell>
  </ng-container>

  <!-- Options Column -->
  <ng-container matColumnDef="options">
  	<mat-header-cell *matHeaderCellDef class="table-header-column"> Opciones</mat-header-cell>
 	<mat-cell *matCellDef="let element" class="table-cell-column"> 
         <button (click)="editProduct(element)" class="btn btn-outline-info"><i class="fas fa-edit"></i></button>
         <button (click)="editProductStock(element)" class="btn btn-outline-info"><i class="fas fa-boxes"></i></button>
 		 <button (click)="deleteProduct(element)" class="btn btn-outline-info"><i class="fas fa-trash"></i></button>
 	</mat-cell>
  </ng-container>
  
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [length]="length"
              [pageSize]="tableUtil?tableUtil.pageSize:0"
              [pageSizeOptions]="tableUtil?tableUtil.pageSizeOptions:[]"
              (page)="pageEvent = $event">
</mat-paginator>