<div class="container">
    <mat-toolbar color="secondary">
      <strong class="page-title">Companía del Producto</strong>
    </mat-toolbar>
    <form [formGroup]="companyProductForm" (ngSubmit)="onSubmitCompanyProduct()" autocomplete="off">
        <div>
            <mat-form-field class="input_text_medium"> 
                <input matInput placeholder="Nombre" formControlName="name"> 
                <mat-error>{{errorMessagesUtil.getErrorMessage(companyProductForm.get('name'), 'Nombre')}} </mat-error> 
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="input_text_medium"> 
                <textarea matInput placeholder="Descripción" formControlName="description" cols="10" rows="10" maxlength="500"></textarea>
                <mat-error>{{errorMessagesUtil.getErrorMessage(companyProductForm.get('description'), 'Descripción')}} </mat-error> 
            </mat-form-field>
        </div>
        
        <button class="submit-btn" color="primary" mat-raised-button
            type="submit" [disabled]="!companyProductForm.valid">Guardar</button>
        <button class="btn" (click)="cancelCompanyProduct()">Cancelar</button>
    </form>
</div>