<div class="container">
	<mat-toolbar color="secondary">
	  <strong class="page-title">Proveedor</strong>
	</mat-toolbar>
	<form [formGroup]="supplierForm" (ngSubmit)="onSubmitSupplier(supplierForm.value)" autocomplete="off">

		<div>
			<mat-form-field class="input_text_medium"> 
				<input matInput placeholder="Nombre" formControlName="name"> 
				<mat-error>{{errorMessagesUtil.getErrorMessage(supplierForm.get('name'), 'Nombre')}} </mat-error> 
			</mat-form-field>
		</div>
		<div>
			<mat-form-field class="input_text_medium"> 
				<input matInput placeholder="Dirección" formControlName="address">
				<mat-error>{{errorMessagesUtil.getErrorMessage(supplierForm.get('address'), 'Dirección')}} </mat-error> 
			</mat-form-field>
		</div>
		<div>
			<mat-form-field class="input_text_medium"> 
				<input matInput placeholder="País" formControlName="country"> 
				<mat-error>{{errorMessagesUtil.getErrorMessage(supplierForm.get('country'), 'País')}} </mat-error> 
			</mat-form-field>
		</div>
		<div>
			<mat-form-field class="input_text_medium"> 
				<input matInput placeholder="Provincia" formControlName="province">
				<mat-error>{{errorMessagesUtil.getErrorMessage(supplierForm.get('province'), 'Provincia')}} </mat-error> 
			</mat-form-field>
		</div>
		<div>
			<mat-form-field class="input_text_medium"> 
				<input matInput placeholder="Ciudad" formControlName="city"> 
				<mat-error>{{errorMessagesUtil.getErrorMessage(supplierForm.get('city'), 'Ciudad')}} </mat-error> 
			</mat-form-field>
		</div>
		<div>
			<mat-form-field class="input_text_medium"> 
				<input matInput placeholder="Código Postal" formControlName="cityCode">
				<mat-error>{{errorMessagesUtil.getErrorMessage(supplierForm.get('cityCode'), 'Código Postal')}} </mat-error> 
			</mat-form-field>
		</div>
		<div>
			<mat-form-field class="input_text_medium"> 
				<input matInput placeholder="Teléfono" formControlName="phone"> 
				<mat-error>{{errorMessagesUtil.getErrorMessage(supplierForm.get('phone'), 'Teléfono')}} </mat-error> 
			</mat-form-field>
		</div>
		<div>
			<mat-form-field class="input_text_medium"> 
				<input matInput placeholder="Celular" formControlName="cellphone">
				<mat-error>{{errorMessagesUtil.getErrorMessage(supplierForm.get('cellphone'), 'Celular')}} </mat-error> 
			</mat-form-field>
		</div>
		<div>
			<mat-form-field class="input_text_medium"> 
				<input matInput placeholder="Email" formControlName="email"> 
				<mat-error>{{errorMessagesUtil.getErrorMessage(supplierForm.get('email'), 'Email')}} </mat-error> 
			</mat-form-field>
		</div>

		<button class="submit-btn" color="primary" mat-raised-button
			type="submit" [disabled]="!supplierForm.valid">Guardar</button>
		<button class="btn" (click)="cancelSupplier()">Cancelar</button>

	</form>
</div>
