<mat-toolbar color="secondary">
  <strong class="page-title">Comercios</strong>
</mat-toolbar>

<div class="add-container">
	<button (click)="goToCommerce()" class="btn btn-info new-button">
		<i class="fas fa-plus"></i>
		<span>Nuevo Comercio</span>
	</button>
</div>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort (matSortChange)="tableUtil.sortData($event)">
  
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-column"> Nombre </mat-header-cell>
    <mat-cell *matCellDef="let element" class="table-cell-column"> {{element.name}} </mat-cell>
  </ng-container>

  
  <!-- Options Column -->
  <ng-container matColumnDef="options">
  	<mat-header-cell *matHeaderCellDef class="table-header-column"> Opciones</mat-header-cell>
 	<mat-cell *matCellDef="let element" class="table-cell-column"> 
 		<button (click)="editCommerce(element)" class="btn btn-outline-info"><i class="fas fa-edit"></i></button>
        <button (click)="deleteCommerce(element)" class="btn btn-outline-info"><i class="fas fa-trash"></i></button>
        <button (click)="goToCommerceBranches(element)" class="btn btn-outline-info"><i class="fas fa-building"></i></button>
        <button (click)="goToUsers(element)" class="btn btn-outline-info"><i class="fas fa-users"></i></button>
     
 	</mat-cell>
  </ng-container>
  
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [length]="length"
              [pageSize]="tableUtil?tableUtil.pageSize:0"
              [pageSizeOptions]="tableUtil?tableUtil.pageSizeOptions:[]"
              (page)="pageEvent = $event">
</mat-paginator>