.product-container {
	width: 100%; 
	height: 100%; 
}

.product-search-container {
	width: 100%;
	position: relative; 
	top: 0; 
	left: 0;
}

.product-result-container {
	background-color: #0E355E;
	width: 100%; 
	position: absolute; 
	left: 0; 
	top: 96px;
	z-index: 10;
}
.product-result-item span {
	color: #E4F2F2;
	cursor:pointer;
}