<div class="container">
	<form [formGroup]="saleForm" (ngSubmit)="onSubmitSale()" autocomplete="off">
		
		<div class="product-container">
			<div class="product-search-container">
				<mat-form-field class="input_text_large"> 
					<input matInput placeholder="Producto" formControlName="productFilter" (keyup)="searchProduct()">
				</mat-form-field>
			</div>
			<div [hidden]="productsFound.length === 0" class="product-result-container">
				<div *ngFor="let productFound of productsFound" class="product-result-item">
					<span>{{productFound.productName}}</span>
					<div *ngFor="let productStock of productFound.productStocks" (click)="selectProduct(productStock)">
						<strong>Sucursal: </strong><span>{{productStock.branchCommerce.name}}</span><br>
						<strong>Cantidad: </strong><span>{{productStock.quantity}}</span>
					</div>
				</div>
			</div>
		</div>
		<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
			<!-- Name Column -->
			<ng-container matColumnDef="name">
				<mat-header-cell *matHeaderCellDef class="table-header-column"> Nombre </mat-header-cell>
				<mat-cell *matCellDef="let element" class="table-cell-column"> {{element.productStock.product.name}} </mat-cell>
			</ng-container>

			
			<!-- Options Column -->
			<ng-container matColumnDef="options">
				<mat-header-cell *matHeaderCellDef class="table-header-column"> Opciones</mat-header-cell>
				<mat-cell *matCellDef="let element" class="table-cell-column"> 
					<button (click)="removeSaleItem(element)" class="btn btn-outline-info"><i class="fas fa-trash"></i></button>
				</mat-cell>
			</ng-container>
			
			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
		</mat-table>
	</form>
</div>
