.option-container {
	text-align: left;
	padding: 5px;
}

.user-option-container {
	border: 1px solid #ffffff;
	display: flex;
	flex-direction: column;
	width: 30%;
}

.combo-option-container {
	width: 95%;
}