<mat-toolbar color="secondary">
  <strong class="page-title">Opciones</strong>
</mat-toolbar>
<form [formGroup]="optionsForm" (ngSubmit)="saveGralOptions(optionsForm.value)" autocomplete="off">
	<div class="option-container">
		<h5>Opciones del Usuario</h5>
	</div>
	<div class="option-container user-option-container">
		<span>Sucursal Seleccionada</span>
		<mat-form-field class="input_text_small combo-option-container">
					<mat-select placeholder="Sucursales" formControlName="currentBranchCommerce">
						<mat-option *ngFor="let branchCommerce of branchCommerces?branchCommerces:[]" [value]="branchCommerce.id">{{branchCommerce.name}}</mat-option>
					</mat-select>
			</mat-form-field>
			<button class="submit-btn" color="primary" mat-raised-button
					type="submit" [disabled]="!optionsForm.valid">Guardar</button>
	</div>
</form>
<br>
<div class="option-container">
		<h5>Opciones de los Productos</h5>
	</div>
<div class="option-container">
	<button class="submit-btn" color="primary" mat-raised-button type="button" (click)="goToProductStorage()">
		<i class="fas fa-warehouse"></i>&nbsp;
		<span>Configuración del almacenamiento de productos</span>
	</button>
</div>
<div class="option-container">
	<button class="submit-btn" color="primary" mat-raised-button type="button" (click)="goToExtraDataProductType()">
		<i class="fas fa-database"></i>&nbsp;
		<span>Configuración de datos extras para Tipo de Productos</span>
	</button>
</div>