<div class="container">
	<mat-toolbar color="secondary">
	  <strong class="page-title">Usuario</strong>
	</mat-toolbar>
	<form [formGroup]="userForm" (ngSubmit)="onSubmitUser(userForm.value)" autocomplete="off">

		<div>
			<mat-form-field class="input_text_medium"> <input
				matInput placeholder="Usuario" formControlName="username"> 
				<mat-error>{{errorMessagesUtil.getErrorMessage(userForm.get('username'), 'Usuario')}} </mat-error> 
			</mat-form-field>
		</div>
		<div>
			<mat-form-field class="input_text_medium"> <input
				matInput placeholder="Password" formControlName="password">
			<mat-error>
			{{errorMessagesUtil.getErrorMessage(userForm.get('password'), 'Password')}} </mat-error> </mat-form-field>
		</div>
		<div>
			<mat-form-field class="input_text_medium">
  				<mat-select placeholder="Rol del Usuario" formControlName="userRoles">
    				<mat-option *ngFor="let userRole of userRoles" [value]="userRole.id">{{userRole.name}}</mat-option>
  				</mat-select>
			</mat-form-field>
		</div>
		<div>
			<mat-form-field class="input_text_medium">
  				<mat-select placeholder="Sucursales" formControlName="branchCommerces" multiple>
    				<mat-option *ngFor="let branchCommerce of branchCommerces" [value]="branchCommerce.id">{{branchCommerce.name}}</mat-option>
  				</mat-select>
			</mat-form-field>
		</div>
		<div>
			<mat-form-field class="input_text_medium"> <input
				matInput placeholder="Nombre" formControlName="name"> <mat-error>
			{{errorMessagesUtil.getErrorMessage(userForm.get('name'), 'Nombre')}} </mat-error> </mat-form-field>
		</div>
		<div>
			<mat-form-field class="input_text_medium"> <input
				matInput placeholder="Email" formControlName="email">
			<mat-error>
			{{errorMessagesUtil.getErrorMessage(userForm.get('email'), 'Email')}} </mat-error> </mat-form-field>
		</div>
		
		<button class="submit-btn" color="primary" mat-raised-button
			type="submit" [disabled]="!userForm.valid">Guardar</button>
		<button class="btn" (click)="cancelUser()">Cancelar</button>

	</form>
</div>
