<div class="container">
    <mat-toolbar color="secondary">
      <strong class="page-title">Tipo de Unidad</strong>
    </mat-toolbar>
    <form [formGroup]="unitTypeForm" (ngSubmit)="onSubmitUnitType()" autocomplete="off">
        <div>
            <mat-form-field class="input_text_medium"> 
                <input matInput placeholder="Nombre" formControlName="name"> 
                <mat-error>{{errorMessagesUtil.getErrorMessage(unitTypeForm.get('name'), 'Nombre')}} </mat-error> 
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="input_text_medium"> 
                <input matInput placeholder="Nombre Corto" formControlName="shortName"> 
                <mat-error>{{errorMessagesUtil.getErrorMessage(unitTypeForm.get('shortName'), 'Nombre Corto')}} </mat-error> 
            </mat-form-field>
        </div>
        
        <button class="submit-btn" color="primary" mat-raised-button
            type="submit" [disabled]="!unitTypeForm.valid">Guardar</button>
        <button class="btn" (click)="cancelUnitType()">Cancelar</button>
    </form>
</div>