.error-message {
  color: #721c24;
  background-color: #f8d7da;
}

.success-message {
  background-color: #d4edda;
  color: #155724;
}

.info-message {
  color: #0c5460;
  background-color: #d1ecf1;
}

.warning-message {
  color: #856404;
  background-color: #fff3cd;
}