<div class="container">
    <mat-toolbar color="secondary">
      <strong class="page-title">Producto</strong>
    </mat-toolbar>
    <form [formGroup]="productForm" (ngSubmit)="onSubmitProduct()" autocomplete="off">
        <div>
            <mat-form-field class="input_text_medium"> 
                <input matInput placeholder="Nombre" formControlName="name"> 
                <mat-error>{{errorMessagesUtil.getErrorMessage(productForm.get('name'), 'Nombre')}} </mat-error> 
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="input_text_medium"> 
                <textarea matInput placeholder="Descripción" formControlName="description" cols="10" rows="10"></textarea>
                <mat-error>{{errorMessagesUtil.getErrorMessage(productForm.get('description'), 'Descripción')}} </mat-error> 
            </mat-form-field>
        </div>
        <div>
			<mat-form-field class="input_text_medium">
  				<mat-select placeholder="Tipo de Producto" formControlName="productType" (selectionChange)="changeProductType(false)">
    				<mat-option *ngFor="let productType of productTypes" [value]="productType.id">{{productType.name}}</mat-option>
  				</mat-select>
			</mat-form-field>
			<button class="btn" (click)="goToProductTypes()"><i class="fas fa-list-ul"></i></button>
			<button class="btn" (click)="goToProductType()"><i class="fas fa-plus"></i></button>
		</div>
        <div>
            <mat-form-field class="input_text_medium"> 
                <input matInput placeholder="Precio" formControlName="price" maxlength="20"> 
                <mat-error>{{errorMessagesUtil.getErrorMessage(productForm.get('price'), 'Precio')}} </mat-error> 
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="input_text_medium"> 
                <input matInput placeholder="Porcentaje de ganancia" formControlName="percentageProfit" maxlength="3"> 
                <mat-error>{{errorMessagesUtil.getErrorMessage(productForm.get('percentageProfit'), 'Porcentaje de ganancia')}} </mat-error> 
            </mat-form-field>
            <a class="btn" (click)="changeFinalPriceStatus()"><i class="fas fa-list-ul"></i></a>
        </div>
        <div>
            <mat-form-field class="input_text_medium"> 
                <input matInput placeholder="Precio Final" formControlName="finalPrice" maxlength="20"> 
                <mat-error>{{errorMessagesUtil.getErrorMessage(productForm.get('finalPrice'), 'Precio Final')}} </mat-error> 
            </mat-form-field>
        </div>
        <div>
			<mat-form-field class="input_text_medium">
  				<mat-select placeholder="Tipo Unidad" formControlName="unitType">
    				<mat-option *ngFor="let unitType of unitTypes" [value]="unitType.id">{{unitType.name}}</mat-option>
  				</mat-select>
			</mat-form-field>
			<button class="btn" (click)="goToUnitTypes()"><i class="fas fa-list-ul"></i></button>
			<button class="btn" (click)="goToUnitType()"><i class="fas fa-plus"></i></button>
		</div>
        <div>
            <mat-form-field class="input_text_medium"> 
                <input matInput placeholder="Cantidad" formControlName="unitAmount"> 
                <mat-error>{{errorMessagesUtil.getErrorMessage(productForm.get('unitAmount'), 'Cantidad')}} </mat-error> 
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="input_text_medium"> 
                <input matInput placeholder="Código de Barra" formControlName="barCode" maxlength="13"> 
                <mat-error>{{errorMessagesUtil.getErrorMessage(productForm.get('barCode'), 'Código de Barra')}} </mat-error> 
            </mat-form-field>
        </div>
        
        <div>
			<mat-form-field class="input_text_medium">
  				<mat-select placeholder="Companía del Producto" formControlName="companyProduct">
    				<mat-option *ngFor="let companyProduct of companyProducts" [value]="companyProduct.id">{{companyProduct.name}}</mat-option>
  				</mat-select>
			</mat-form-field>
			<button class="btn" (click)="goToCompanyProducts()"><i class="fas fa-list-ul"></i></button>
			<button class="btn" (click)="goToCompanyProduct()"><i class="fas fa-plus"></i></button>
		</div>
        
        <div>
            <mat-form-field class="input_text_medium"> 
                <input matInput placeholder="Mínima cantidad Stock" formControlName="minQuantity" maxlength="13"> 
                <mat-error>{{errorMessagesUtil.getErrorMessage(productForm.get('minQuantity'), 'Mínima cantidad Stock')}} </mat-error> 
            </mat-form-field>
        </div>
        <div class="extra_data_container" *ngFor="let templateExtraData of templatesExtraData" [hidden]="showExtraData(templateExtraData)">
            <strong>Datos extras del Producto del tipo {{templateExtraData.name}}</strong>
            <div formArrayName="extraFields" *ngFor="let extraField of getFormExtraData().controls; let i = index;">
                 <div [formGroupName]="i">
                     <mat-form-field class="input_text_medium" [hidden]="getFormExtraData().controls[i].get('elementType').value==2"> 
                        <input matInput [placeholder]="getFormExtraData().controls[i].get('elementName').value" formControlName="elementValue" maxlength="100"> 
                        <mat-error>{{errorMessagesUtil.getErrorMessage(getFormExtraData().controls[i].get('elementValue'), getFormExtraData().controls[i].get('elementName').value)}} </mat-error> 
                    </mat-form-field>
                    <tag-input
                        [hidden]="getFormExtraData().controls[i].get('elementType').value===1"
                        [formControlName]="'elementValue'"
                        [editable]="true"
                        [placeholder]="getFormExtraData().controls[i].get('elementName').value"
                        [secondaryPlaceholder]="getFormExtraData().controls[i].get('elementName').value"
                        [modelAsStrings]="true"
                        [maxItems]="10"
                        [theme]="'dark'"
                        [class]="'multiple-values'"
                        [inputClass]="'multiple-values-input'">
                    </tag-input>
                 </div>
            </div>
        </div>
        
        <button class="submit-btn" color="primary" mat-raised-button
            type="submit" [disabled]="!productForm.valid">Guardar</button>
        <button class="btn" (click)="cancelProduct()">Cancelar</button>
    </form>
</div>