.extra_data_container {
    border: 1px solid #FFFFFF;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.multiple-values-input {
     text-align: center;
     align-content: center;
     color: #00CC00;
     width: 1200px;
}