<mat-toolbar color="secondary">
  <strong class="page-title">Proveedores</strong>
</mat-toolbar>

<div class="add-container">
	<button (click)="goToSupplier()" class="btn btn-info new-button">
		<i class="fas fa-plus"></i>
		<span>Nuevo Proveedor</span>
	</button>
</div>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort (matSortChange)="tableUtil.sortData($event)">
  
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-column"> Nombre </mat-header-cell>
    <mat-cell *matCellDef="let element" class="table-cell-column"> {{element.name}} </mat-cell>
  </ng-container>

  <!-- Address Column -->
  <ng-container matColumnDef="address">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-column"> Dirección </mat-header-cell>
    <mat-cell *matCellDef="let element" class="table-cell-column"> {{element.address}} </mat-cell>
  </ng-container>

  <!-- Phone Column -->
  <ng-container matColumnDef="phone">
    <mat-header-cell *matHeaderCellDef class="table-header-column"> Teléfono </mat-header-cell>
    <mat-cell *matCellDef="let element" class="table-cell-column"> {{element.phone}} </mat-cell>
  </ng-container>

  <!-- Cellphone Column -->
  <ng-container matColumnDef="cellphone">
    <mat-header-cell *matHeaderCellDef class="table-header-column"> Celular </mat-header-cell>
    <mat-cell *matCellDef="let element" class="table-cell-column"> {{element.cellphone}} </mat-cell>
  </ng-container>
  
  <!-- Email Column -->
  <ng-container matColumnDef="email" class="table-header-column">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-column"> Email </mat-header-cell>
    <mat-cell *matCellDef="let element" class="table-cell-column"> {{element.email}} </mat-cell>
  </ng-container>
  
  <!-- Options Column -->
  <ng-container matColumnDef="options">
  	<mat-header-cell *matHeaderCellDef class="table-header-column"> Opciones</mat-header-cell>
 	<mat-cell *matCellDef="let element" class="table-cell-column"> 
 		<button (click)="editSupplier(element)" class="btn btn-outline-info"><i class="fas fa-edit"></i></button>
 		<button (click)="deleteSupplier(element)" class="btn btn-outline-info"><i class="fas fa-trash"></i></button>
 	</mat-cell>
  </ng-container>
  
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [length]="length"
              [pageSize]="tableUtil?tableUtil.pageSize:0"
              [pageSizeOptions]="tableUtil?tableUtil.pageSizeOptions:[]"
              (page)="pageEvent = $event">
</mat-paginator>
