<div class="container">
    <mat-toolbar color="secondary">
      <strong class="page-title">Tipo de Producto</strong>
    </mat-toolbar>
    <form [formGroup]="productTypeForm" (ngSubmit)="onSubmitProductType()" autocomplete="off">
        <div>
            <mat-form-field class="input_text_medium"> 
                <input matInput placeholder="Nombre" formControlName="name"> 
                <mat-error>{{errorMessagesUtil.getErrorMessage(productTypeForm.get('name'), 'Nombre')}} </mat-error> 
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="input_text_medium"> 
                <input matInput placeholder="Descripción" formControlName="description"> 
                <mat-error>{{errorMessagesUtil.getErrorMessage(productTypeForm.get('description'), 'Descripción')}} </mat-error> 
            </mat-form-field>
        </div>
        
        <button class="submit-btn" color="primary" mat-raised-button
            type="submit" [disabled]="!productTypeForm.valid">Guardar</button>
        <button class="btn" (click)="cancelProductType()">Cancelar</button>
    </form>
</div>