<div class="container">
	<mat-toolbar color="secondary">
	  <strong class="page-title">Comercio</strong>
	</mat-toolbar>
	<form [formGroup]="commerceForm" (ngSubmit)="onSubmitSupplier(commerceForm.value)" autocomplete="off">
		
		<div>
			<mat-form-field class="input_text_medium"> 
				<input matInput placeholder="Nombre" formControlName="name"> 
				<mat-error>{{errorMessagesUtil.getErrorMessage(commerceForm.get('name'), 'Nombre')}} </mat-error> 
			</mat-form-field>
		</div>
		
		<button class="submit-btn" color="primary" mat-raised-button
			type="submit" [disabled]="!commerceForm.valid">Guardar</button>
		<button class="btn" (click)="goBackCommerce()">Volver</button>
		
	</form>
</div>