<h1 mat-dialog-title>Tipo de Unidad</h1>
<div mat-dialog-content>
  <p>¿Está seguro que quiere eliminar el Tipo de unidad?</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onYesClick()">Sí</button>
  <button mat-button (click)="onNoClick()" cdkFocusInitial>No</button>
</div>