<div [hidden]="showHideMenu()" class="menu-bar-container">
	<div *ngFor="let menu of menus" class="menu-container">
		<app-menu [name]="menu.name" [items]="menu.menuItems" ></app-menu>
	</div>

</div>
