<h1 mat-dialog-title>Eliminar Configuración de Almacenamiento</h1>
<div mat-dialog-content>
  <p>Si elimina toda la configuración de almacenamiento perderá todos los datos ingresados en los productos.</p>
  <p>¿Está seguro que quiere eliminar esta configuración de almacenamiento?</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onYesClick()">Sí</button>
  <button mat-button (click)="onNoClick()" cdkFocusInitial>No</button>
</div>