<h1 mat-dialog-title>Eliminar Campo</h1>
<div mat-dialog-content>
  <p>Este campo ya fue guardado previamente.</p>
  <p>Si lo elimina perderá todos los datos ingresados en los productos (en este campo).</p>
  <p>Una vez guardado no se podrá recuperar los datos</p>
  <p>¿Está seguro que quiere eliminar este Campo del almacenamiento?</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onYesClick()">Sí</button>
  <button mat-button (click)="onNoClick()" cdkFocusInitial>No</button>
</div>