<mat-toolbar color="secondary">
  <strong class="page-title">Configuración del Almacenamiento de Productos</strong>
</mat-toolbar>
<h3>
	<strong>Campos para definir el almacenamiento:</strong>
</h3>
<!-- https://angular.io/guide/reactive-forms -->


<form [formGroup]="productStorageForm" (ngSubmit)="onSubmitProductStorageOption()" autocomplete="off">
	<div class="template-element-main-container">
		<div class="add-container">
			<button class="submit-btn" color="primary" mat-raised-button type="submit" [disabled]="validateSaveButtonVisibility()">Guardar</button>
			<input type="button" class="btn" (click)="clearProductStorage()" value="Limpiar" [disabled]="!template.id">
		</div>
		<div formArrayName="templateElements" *ngFor="let templateElement of getFormTemplateElements().controls; let i = index;">
		  <div [formGroupName]="i">
		  	 <span class="btn" (click)="deleteTemplateElement(i)">
			    <i class="fas fa-trash-alt"></i>
			</span>
		  	 <mat-form-field class="input_text_small"> 
	           <input matInput placeholder="Nombre" formControlName="name"> 
	           <mat-error>{{errorMessagesUtil.getErrorMessage(getFormTemplateElements().controls[i].get('name'), 'Nombre')}} </mat-error>
	          </mat-form-field>
	           
	          <mat-form-field class="input_text_small">
  			    <mat-select placeholder="Tipo de Valor" formControlName="templateValueTypeId">
    			  <mat-option *ngFor="let templateValueType of templateValueTypes" [value]="templateValueType.id">{{templateValueType.name}}</mat-option>
  				</mat-select>
			  </mat-form-field>
	           
		  </div>
		</div>
		<input type="button" class="btn" (click)="addTemplateElement()" value="Agregar Valor">
	</div>
</form>
