.template-element-main-container {
    text-align: center;
}
.element-container {
    border: solid #6699cc 1px;
    margin: 10px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}