@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Define an alternate dark theme.
$atahualpa-dark-primary: mat-palette($mat-blue);
$atahualpa-dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$atahualpa-dark-warn:    mat-palette($mat-deep-orange);
$atahualpa-dark-theme:   mat-dark-theme($atahualpa-dark-primary, $atahualpa-dark-accent, $atahualpa-dark-warn);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.unicorn-dark-theme` will be affected by this alternate dark theme instead of the default theme.

.atahualpa-light-theme {
  @include angular-material-theme($atahualpa-dark-theme);
}