@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the default theme (same as the example above).
$atahualpa-light-primary: mat-palette($mat-indigo);
$atahualpa-light-accent:  mat-palette($mat-pink, A200, A100, A400);
$atahualpa-light-theme:   mat-light-theme($atahualpa-light-primary, $atahualpa-light-accent);

.atahualpa-light-theme {
  @include angular-material-theme($atahualpa-light-theme);
}