// @import '@angular/material/prebuilt-themes/purple-green.css';
@import '~@angular/material/theming';

@import 'atahualpa-light-theme.scss';
@import 'atahualpa-dark-theme.scss';

@include angular-material-theme($atahualpa-dark-theme);

html, body {
  margin: 0px;
  padding: 0px;
}


body{
  background-color: #212121;
  font-family: Roboto, Arial, sans-serif;
  color: #f5f5f5;
}

.basic-container {
  padding: 5px;
}

.version-info {
  font-size: 8pt;
  float: right;
}

.page-title {
	font-size: 21pt;
	width: 100%;
}

/*ABM Table styles*/
.add-container {
	text-align:right;
}
.new-button {
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	display: inline-block;
	right: 10px;
}

.table-header-column {
	display: flex;
    justify-content: center;
}
.table-cell-column {
	display: flex;
    justify-content: center;
}

/*ABM new edit styles*/
.input_text_large {
	width: 80%;
	margin: 10px;
}
.input_text_medium {
	width: 50%;
	margin: 10px;
}
.input_text_small {
	width: 20%;
	margin: 10px;
}
.input_text_lsmall {
	width: 15%;
	margin: 10px;
}

