.container-container {
    border: 1px solid #A1A1A1;
    margin: 10px;
}

.container-title {
    text-align: start;
    padding: 5px;
}

.multiple-values {
     width: 50%;
     margin-left: 40%;
}

.multiple-values-title {
    width: 50%;
    margin-left: -17%;
}

.multiple-values-input {
     text-align: center;
     align-content: center;
     color: #00CC00;
     width: 1200px;
}

