<div class="container">
    <mat-toolbar color="secondary">
      <strong [hidden]="!stockTitle" class="page-title">Stock para {{stockTitle}} de {{stockTitlePart2}} </strong>
    </mat-toolbar>
    
    <form [formGroup]="stockForm" (ngSubmit)="onSubmitProductStock()" autocomplete="off">
        <div class="add-container">
			<button class="submit-btn" color="primary" mat-raised-button type="submit" [disabled]="!stockForm.valid">Guardar</button>
			<input type="button" class="btn" (click)="goToProducts()" value="Volver">
        </div>
        <mat-accordion>
            <mat-expansion-panel formArrayName="productStocks"
            *ngFor="let productStock of getFormProductStocks().controls; let i = index;">
                <mat-expansion-panel-header>
                <mat-panel-title>
                    Sucursal
                </mat-panel-title>
                <mat-panel-description>
                    {{getFormProductStocks().controls[i].get('branchCommerceName').value }}
                </mat-panel-description>
                </mat-expansion-panel-header>

                <!-- Body -->
                <div [formGroupName]="i">
                <div class="container-container">
                    <h5 class="container-title">Stock</h5>
                    <div>
                        <mat-form-field class="input_text_small"> 
                            <input matInput placeholder="Stock" formControlName="stock" maxlength="10"> 
                            <mat-error>{{errorMessagesUtil.getErrorMessage(productStock.get('stock'), 'Stock')}} </mat-error> 
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="input_text_small">
                          <mat-select placeholder="Tipo Stock" formControlName="stockType">
                            <mat-option *ngFor="let productStockType of productStockTypes" [value]="productStockType.id">{{productStockType.name}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                        <button type="button" class="btn" (click)="goToProductStockTypes()"><i class="fas fa-list-ul"></i></button>
                        <button type="button" class="btn" (click)="goToProductStockType()"><i class="fas fa-plus"></i></button>
                    </div>
                </div>
                <div class="container-container" [hidden]="getStorageValues(productStock).controls.length == 0">
                    <h5 class="container-title">Almacenamiento</h5>
                    <div formArrayName="storageValues"
                     *ngFor="let storageElement of getStorageValues(productStock).controls; let j = index;">
                        <div [formGroupName]="j">
                        <mat-form-field class="input_text_small" [hidden]="getStorageValues(productStock).controls[j].get('elementType').value===2"> 
                            <input matInput placeholder="{{getStorageValues(productStock).controls[j].get('elementName').value}}" formControlName="elementValue" maxlength="100">
                            <mat-error>{{errorMessagesUtil
                            .getErrorMessage(getStorageValues(productStock)
                            .controls[j].get('elementValue'), getStorageValues(productStock).controls[j].get('elementName').value)}} </mat-error> 
                        </mat-form-field>
                        <span [hidden]="getStorageValues(productStock).controls[j].get('elementType').value===1" [class]="'multiple-values-title'">
                            {{getStorageValues(productStock).controls[j].get('elementName').value}}
                        </span> 
                        <tag-input
                            [hidden]="getStorageValues(productStock).controls[j].get('elementType').value===1"
                            [formControlName]="'elementValue'"
                            [editable]="true"
                            [placeholder]="getStorageValues(productStock).controls[j].get('elementName').value"
                            [secondaryPlaceholder]="getStorageValues(productStock).controls[j].get('elementName').value"
                            [modelAsStrings]="true"
                            [maxItems]="10"
                            [theme]="'dark'"
                            [class]="'multiple-values'"
                            [inputClass]="'multiple-values-input'">
                        </tag-input>
                        </div>
                    </div>
                </div>
            </div>

            </mat-expansion-panel>
        </mat-accordion>

    </form>
</div>